html
{
    background-image: url(/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

main
{
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;
}
#machine
{
margin: 0 auto;
}


#row1
{
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 255px;
    margin-left: 45px;
    
    /*z-index:2;*/
}

.delta-mud
{
width:70px;
height: 150px;
}

.can
{
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    padding: 5px 10px 12px 0px;
}

#restart
{
 width: 120px;
   height: 120px;
   background-color: gray;
  
   float: right;

}