@font-face {
  font-family: 'billy';
  src:  url('billy.woff2') format('woff2'),
        url('billy.woff') format('woff');
}

html
{
    font-family: 'billy', sans-serif;
    font-size: 16px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden
{
    display: none;
}

#reset
{
    background: url(../images/coin.png) center no-repeat;
    width: 100px;
    height: 100px;
    border: none;
    background-size: cover;
    position: relative;
}


#popup
{
    background: url(../images/question.png) center no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    border: none;
}

#reset:hover, #popup:hover
{
    cursor: pointer;
}

#reset h1
{
    display:none;
}

.lightbox
{
    width: 80%;
    height: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
    background-color: rgba(255, 203, 5, 0.9);
    z-index: 10;
    display: none;
    text-align: center;
}

.lightbox h1
{
    font-size: 4em;
    color: #000;
    margin: 30px 0;
}

.lightbox h2
{
    font-size: 3em;
}

.lightbox ul
{
    font-size: 2em;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.show-lightbox
{display: block;}

.closebox
{
    float:right;
    font-size: 50px;
    margin: 10px 10px 0px 0px;
    color: #f1f1f1;
}


main
{
    width: 400px;
    margin: 0 auto;
}


/******** machine ********/
.can
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: -115px;
}

.can img
{
    padding: 0px 10px 12px 10px;
    margin: 0px 20px 5px 5px;
    cursor: pointer;
}

.can img:hover
{
    transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    opacity: .5;
}


#dropzone
{
	width: 350px;
    height: 80px;
    position: absolute;
    top: 580px;
    margin-left: 23px;   
}

#machine
{
    margin: 0 auto;
}

#row1
{
    width: 360px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 277px;
    margin-left: 35px;
}

.delta-mud
{
    width:70px;
    height: 150px;
}


#dropzone img
{ width: 50px ! important;
height: 90px ! important; }
